/*.card_container {*/
    /*perspective: 1000;*/
/*}*/
/*.card {*/
    /*transform-style: preserve-3d;*/
    /*transition: all 0.5s linear;*/
/*}*/

/*.card:hover {*/
    /*transform: rotateY(180deg);*/
/*}*/

/*.face {*/
    /*backface-visibility:hidden;*/
/*}*/

/*.face.back {*/
    /*transform: rotateY(180deg);*/
/*}*/

.bs-callout {
    margin: 20px 0;
    padding: 10px;
    border-left: 3px solid #ccc;
    background-color: #eee;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de
}

.bs-callout-info h4 {
    color: #5bc0de
}

.row > div.over {
    background-color:#f7ecb5;
}