<!DOCTYPE html>
<html ng-app="getAgileApp">
<head>
    <title>GetAgile - A free, online agile storyboard.</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/storyboard.css" />
    <!-- endbuild -->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div style="padding:0 15px" ng-controller="NavigationCtrl">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/release-notes">GetAgile</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse-1">
                <ul ng-show="userIsLoggedIn" class="nav navbar-nav">
                    <li><a href="#/dashboard">Dashboard</a></li>
                    <li>
                        <a href="" ng-cloak class="dropdown-toggle" data-toggle="dropdown"><strong>Board</strong><span ng-show="selectedBoard">: {{selectedBoard.name}}</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="(key, board) in boards"><a ng-href="#/boards/{{board.slug}}"><span ng-show="key==selectedBoardId" class="glyphicon glyphicon-ok"></span> {{board.name}}</a></li>
                            <li role="presentation" class="divider"></li>
                            <li ng-class="{ 'disabled' : !userIsLoggedIn }"><a href="" ng-click="showNewStoryboardUI()">Add New Storyboard</a></li>
                        </ul>
                    </li>
                </ul>
                <div ng-show="userIsLoggedIn" class="navbar-header pull-left">
                    <button ng-show="selectedBoard && userIsLoggedIn" class="btn btn-danger navbar-btn hidden-xs" ng-click="deleteStoryboard()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                </div>
                <ul class="nav navbar-nav visible-xs">
                    <li>
                        <li ng-repeat="(key, board) in boards"><a ng-href="#/boards/{{key}}"><span ng-show="key==selectedBoardId" class="glyphicon glyphicon-ok"></span> {{board.name}}</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="" ng-click="auth.$logout()">Logout</a></li>
                    </li>
                </ul>
                <div class="navbar-right hidden-xs" ng-controller="QuickLoginCtrl">
                    <div class="navbar-right" ng-show="auth.user" style="margin-left:15px">
                        <img ng-src="{{profileImageUrl}}" />
                    </div>
                    <ul class="nav navbar-nav navbar-right" ng-cloak>
                        <li ng-show="auth.user">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{userName}} <span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/profile/{{auth.user.uid}}">Profile</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                        <li ng-hide="auth.user">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="" ng-click="loginWithFacebook()">with Facebook</a></li>
                                <li><a href="" ng-click="auth.$login('twitter')">with Twitter</a></li>
                                <li><a href="" ng-click="showLoginUI()">with Email &amp; Password</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div ng-view></div>
    <!--<div id="footer" style="padding:15px;">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row" ng-controller="TeamCtrl">-->
                <!--<div class="col-md-6">-->
                    <!--<span ng-show="team.length > 0">This board is shared with <span ng-repeat="person in team" class="btn btn-default btn-sm" ng-click="removePersonFromTeam(person.$id)">{{person.name}} <span class="glyphicon glyphicon-remove"></span></span></span>-->
                    <!--<div ng-show="team.length == 0">-->
                        <!--<p>This board is not shared.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<form class="form-inline">-->
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control input-sm" ng-model="newTeamMemberUserId" />-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default btn-sm" ng-click="addPersonToTeam()">Share</button>-->
                    <!--</form>-->
                <!--</div>-->

                <!--&lt;!&ndash;<p>The admin of this board is {{admin.name}}.</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/libraries/FirebaseIndex.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/views/templates.js"></script>
    <script src="scripts/controllers/board.js"></script>
    <script src="scripts/directives/draggable.js"></script>
    <script src="scripts/directives/droppable.js"></script>
    <script src="scripts/directives/board.js"></script>
    <script src="scripts/directives/boardselector.js"></script>
    <script src="scripts/controllers/quicklogin.js"></script>
    <script src="scripts/services/boardservice.js"></script>
    <script src="scripts/services/columnservice.js"></script>
    <script src="scripts/services/storyservice.js"></script>
    <script src="scripts/controllers/addstoryboard.js"></script>
    <script src="scripts/controllers/addcolumn.js"></script>
    <script src="scripts/controllers/addstory.js"></script>
    <script src="scripts/controllers/editstory.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/release-notes.js"></script>
    <script src="scripts/services/firebase.js"></script>
    <script src="scripts/directives/focus.js"></script>
    <script src="scripts/services/login.js"></script>
    <script src="scripts/controllers/profile.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/LoginForm.js"></script>
    <script src="scripts/controllers/Team.js"></script>
    <script src="scripts/libraries/socket.io-stream.js"></script>
    <script src="scripts/directives/DragAndDropFileUpload.js"></script>
    <!-- endbuild -->
</body>
</html>