<div class="container-fluid">
    <div class="row">
        <div class="col-md-{{columnWidth}}" ng-repeat="(columnKey, column) in columns">
            <p ng-model="column.name"><strong>{{column.name}}</strong> <small ng-click="deleteColumn(columnKey)"><a href="" class="glyphicon glyphicon-trash"></a></small></p>
            <div ui-sortable="sortableOptions" class="card_container" ng-model="column.stories">
                <div class="card" ng-repeat="(storyKey, story) in column.stories | orderByPriority" ng-mouseover="story.isCurrentFocus = true" ng-mouseout="story.isCurrentFocus = false">

                    <div class="bs-callout" ng-class="{ 'bs-callout-warning' : story.isCurrentFocus }">
                        <button type="button" class="close" aria-hidden="true" ng-show="story.isCurrentFocus" ng-click="deleteStory(columnKey, story.$id)">&times;</button>
                        <strong>{{story.summary}}</strong>
                        <p><small><em>{{story.description}}</em></small></p>
                        <button class="btn btn-primary btn-xs" ng-click="progressStory(columnKey, story.$id)"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
