<div class="container">
    <div class="well well-lg col-sm-6 col-sm-offset-3">
        <!--<div class="panel-body">-->
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label sr-only">Email Address</label>
                    <div class="col-sm-12">
                        <input type="text" ng-model="email" class="form-control input-lg" placeholder="Email Address" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label sr-only">Password</label>
                    <div class="col-sm-12">
                        <input type="password" ng-model="pass" class="form-control input-lg" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="login()">Login</button>
                    </div>
                </div>
            </form>
        <!--</div>-->
    </div>
</div>