<div class="container">
    <h1>Release Notes</h1>
    <h2>Planned Features</h2>
    <h2>What's Available in 0.1 ALPHA</h2>
    <ul>
        <li>Login via Facebook.</li>
        <li>Ability to add storyboards.</li>
        <li>Ability to add and delete stories.</li>
        <li>Ability to add and delete columns.</li>
        <li>Drag and drop prioritisation of user stories.</li>
    </ul>
    <h3>Known Issues</h3>
    <ul>
        <li>Switching storyboards does not update stories and requires a reload.</li>
        <li>When adding a story, the new story is not automatically shown in the user interface.</li>
    </ul>

</div>
