<div class="container">
    <h1>Release Notes</h1>
    <h2>Planned Features &amp; Enhancements</h2>
    <ul>
        <li>Ability to schedule sprints.</li>
        <li>Burndown reporting.</li>
    </ul>
    <h2>What's Available in 0.1a</h2>
    <ul>
        <li>Login via Facebook.</li>
        <li>Ability to add storyboards.</li>
        <li>Ability to add and delete stories.</li>
        <li>Ability to add and delete columns.</li>
        <li>Drag and drop prioritisation of user stories.</li>
    </ul>
    <h3>Known Issues</h3>
    <p>There are no known issues at this time.</p>
</div>
